.login-bg{
    background-image: url(https://i.ibb.co/jhthb9c/photo-1548031076-e0f45007f853.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    color:white;
}

.btn-grd{
    background: #1572A1 ;
    padding-left: 100px;
    padding-right: 100px;
}