.banner-bg{
    background-image: url(https://i.ibb.co/MR7VhsB/anthony-delanoix-b5-POxb2a-L9o-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.opacity-style{
    opacity: 0.9;
}